<main class="main-container">
  <div class="container h-100">
    <div class="row">
      <div class="col-xs-12 col-6">
        <div class="content-wrapper">
          <h2>List years with multiple winners</h2>
          <app-ano-mais-vencedores></app-ano-mais-vencedores>
        </div>
      </div>
      <div class="col-xs-12 col-6">
        <div class="content-wrapper">
          <h2>Top 3 studios with winners</h2>
          <app-estudio-mais-vitorias></app-estudio-mais-vitorias>
        </div>
      </div>
      <div class="space-100"></div>
      <div class="col-xs-12 col-6">
        <div class="content-wrapper">
          <h2>Producers with longest and shortest interval between wins</h2>
          <app-intervalo-vitorias></app-intervalo-vitorias>
        </div>
      </div>
      <div class="col-xs-12 col-6">
        <div class="content-wrapper">
          <h2>List movie winners by year</h2>
          <app-lista-filmes-ano></app-lista-filmes-ano>
        </div>
      </div>
    </div>
  </div>
</main>
