<div class="main-container">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <h2>List years with multiple winners</h2>
                        <app-winneryears></app-winneryears>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <h2>Top 3 studios with winners</h2>
                        <app-studios></app-studios>
                    </div>
                </div>
            </div>
            <div class="space-10"></div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <h2>Producers with longest and shortest interval between wins</h2>
                        <app-interval></app-interval>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <h2>List movie winners by year</h2>
                        <app-moviedata></app-moviedata>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
