/* You can add global styles to this file, and also import other style files */
:root {
  --gra-color: #5c4c8c;
}

.main-container {
  padding: 50px 5px 50px 50px;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
}

.space-10{
  padding: 15px 0;
  display: block;
  height: 1px;
}

.h2, h2 {
  font-size: 1rem;
  font-weight: 700;
}

.bg-win {
  background-color: var(--gra-color) !important;
}

.bg-win a, .bg-win a.active  {
  color: #ffefcd  !important;
}

.bg-win .dropdown-item a, .bg-win a.active  {
  color: #ffefcd  !important;
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
  background: var(--gra-color);
}

.dropdown-item:hover {
  color: var(--gra-color) !important;
  background-color: #ffeecd !important;
}

.card-body h2 {
  color: var(--gra-color) !important;
  font-size: 1.3rem;
  font-weight: bold;
  font-family: 'Quattrocento', serif;

}

.card-body h4 {
  font-size: 1rem;
  font-weight: bold;
  font-family: 'Quattrocento', serif;

}

.btn-gra {
  color: #fff;
  background-color: var(--gra-color);
  border:1px solid var(--gra-color);
}

.btn-gra:hover {
  color: var(--gra-color);
  background-color: transparent;
  border:1px solid var(--gra-color);
}


.card {
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    border-radius: 0 40px;
    width: 100%;
    padding: 1.5rem;
}

.content {
  flex: 1 0 auto;
  flex-direction: row !important;
  display: flex;
}

nav {
  width: 265px;
  transition: width 0.3s ease;
  justify-content: flex-start;
  display: flex;
  align-items: flex-start !important;
}

nav img {
    padding: 10px;
}

nav.nav-left {
  border-top: 1px dashed #70619d;
}

nav.nav-left li.nav-item {
  padding: 10px;
}

main {
  padding-top: calc(65px + var(--kt-toolbar-height));
  transition: padding-left 0.3s ease;
  width: 100%;
}

pagination-template nav {
  width: 100%;
}

.ngx-pagination .current {
  background: var(--gra-color) !important;
}

@media (max-width: 992px) {
  .content {
    display: contents;
  }
  nav {
    width: 100%;
    padding: 10px 10px 0 10px !important;

  }
  .nav {
    justify-content: space-evenly !important;
  }
  .main-container {
    padding: 20px 5px 10px 5px;
  }
  button.navbar-toggler {
    margin: 12px;
  }
}
