/* You can add global styles to this file, and also import other style files */
.main-container {
  padding: 50px 15px 15px 50px;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
}

.space-100{
  padding: 50px 0;
  display: block;
  height: 1px;
}

.h2, h2 {
  font-size: 1rem;
  font-weight: 700;
}

.bg-win {
  background-color: #b32019 !important;
}

.bg-win a, .bg-win a.active  {
  color: #ffefcd  !important;
}

.bg-win .dropdown-item a, .bg-win a.active  {
  color: #ffefcd  !important;
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
  background: #b32019;
}

.dropdown-item:hover {
  color: #b32019 !important;
  background-color: #ffeecd !important;
}
